body { padding-top: 70px; }

/* Navbar */

.navbar-default {
  background-color: transparent;
  border: none;
}

.d3-tip {
  font-size: 11px;
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.brush .extent {
    fill-opacity: .1;
    stroke: #fff;
    shape-rendering: crispEdges;
}



svg {
  background-color: #f5f5f5;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.overlay {
  display: none;
}

.overlay.active {
  display: initial;
  cursor: -webkit-grab;
  cursor:    -moz-grab;
}

/*
svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}
*/


path.link {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  stroke-opacity: .1;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

.node {
  cursor: pointer;
}

.node .point{
  fill: #999;
  stroke-width: 1.5px;
  stroke: #f5f5f5;
}

.node.fixed .point{
  stroke: #fff;
}

.node.selected .point {
  stroke: #666;
}


.node.cluster .point {
  fill: #f00;
}

circle.node.selected {
  fill: #ff0000 !important;
}

circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

.node:hover .point {
  fill: #000;
}


text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}