body { padding-top: 70px; }

canvas { 
  position: absolute;
  background-color: #f5f5f5;
}

/* Navbar */

.navbar-default {
  background-color: transparent;
  border: none;
}

.navbar-default .navbar-brand {
  font-family: 'Bevan', sans-serif;
  font-weight: 700;
  letter-spacing: -1px;
  color: #333;
}

#main {
  margin-top: 20px;
}

.d3-tip {
  font-size: 11px;
  line-height: 1;
  font-weight: 300;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
}

.brush .extent {
    fill-opacity: .1;
    stroke: #fff;
    shape-rendering: crispEdges;
}

label {
  font-weight: 400;
  font-size: 12px;
}

input,
.btn {
  border-radius: 2px;
  margin-bottom: 5px;
}

svg {
  background-color: #f5f5f5;
  position: absolute;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

svg.editing {
  border: 1px dashed #999;
}

.overlay {
  display: none;
}

.overlay.active {
  display: initial;
  cursor: -webkit-grab;
  cursor:    -moz-grab;
}

/*
svg:not(.active):not(.ctrl) {
  cursor: crosshair;
}
*/


path.link {
  fill: none;
  stroke: #000;
  stroke-width: 1px;
  stroke-opacity: .1;
  cursor: default;
}

svg:not(.active):not(.ctrl) path.link {
  cursor: pointer;
}

path.link.selected {
  stroke-dasharray: 10,2;
}

path.link.dragline {
  pointer-events: none;
}

path.link.hidden {
  stroke-width: 0;
}

path.dragline {
  stroke-opacity: .5;
  stroke-width: 2px;
  stroke-dasharray: 1px 5px;
  stroke-linecap: round;
}

.node {
  cursor: pointer;
  opacity: .9;
}

.node .point{
  fill: #999;
  stroke-width: 1.5px;
  stroke: #f5f5f5;
}

.node.fixed .point{
  stroke: #fff;
}

.node:hover,
.node.selected {
  opacity: 1;
}

.node.selected .point {
  stroke: #666;
}

.node.muted {
  opacity: .1;
}


.node.cluster .point {
  fill: #f00;
}

circle.node.selected {
  fill: #ff0000 !important;
}

circle.node.reflexive {
  stroke: #000 !important;
  stroke-width: 2.5px;
}

.node:hover .point {
  fill: #000;
}


text {
  font: 12px sans-serif;
  pointer-events: none;
}

text.id {
  text-anchor: middle;
  font-weight: bold;
}

/*
canvas { width: 1000px; }*/

/* Codemirror */

.CodeMirror {
  font-family: Menlo, Monaco, Courier, monospace;
  font-size: 11px;
  background-color: #ffffff;
  line-height: 18px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  margin-bottom: 10px;
  height: 203px;
  border: 1px solid #ddd;
  color: #444444;
}

.Codemirror :after, .Codemirror ::before {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.CodeMirror-activeline {
  color: #333;
}

.CodeMirror-activeline-background {
  background: rgba(68, 204, 164, 0.18) !important;
}

pre.CodeMirror-placeholder {
  color: #aaaaaa;
}

.CodeMirror.highlight {
  opacity: .5;
}

.CodeMirror-gutters {
  border: none;
}