<div class="row">
	<div class="col-lg-12">
		<div class="btn-group" data-toggle="buttons">
			<label class="btn btn-primary">
				<input type="radio" name="options" id="option1"> Select
			</label>
			<label class="btn btn-primary">
				<input type="radio" name="options" id="option2"> Move
			</label>
			<label class="btn btn-primary">
				<input type="radio" name="options" id="option3"> 3
			</label>
		</div>
	</div>
</div>


<div class="row">

	<div class="col-lg-2">
		<label class="checkbox"> Force layout
			<input type="checkbox" ng-model="enableLayout"></input>
		</label>

		<label class="checkbox"> Grouping
			<input type="checkbox" ng-model="grouping"></input>
		</label>

		<label class="checkbox"> Show links
			<input type="checkbox" ng-model="showLinks"></input>
		</label>

		<button ng-click="running=!running">Stop</button>

		<h5>Selection</h5>
		<span class="muted" ng-show="!selection.length">No selection</span>
		<ul class="list-unstyled" ng-show="selection.length">
			<li ng-repeat="element in selection">{{element.name}}</li>
		</ul>
		

	</div>
	
	<div class="col-lg-10">

		<div graph></div>

	</div>

</div>