<div class="row">

	<div class="col-lg-2">

		<label class="checkbox"> Editing mode
			<input type="checkbox" ng-model="status.editing"></input>
		</label>

		<label class="checkbox"> Force layout
			<input type="checkbox" ng-model="enableLayout"></input>
		</label>

		<label class="checkbox"> Grouping
			<input type="checkbox" ng-model="grouping"></input>
		</label>

		<button ng-click="running=!running">Stop</button>

		<div>
			<h5>Search</h5>
			<input type="text" ng-model="status.searching"></input>
		</div>

		<h5>Selection ({{status.selection.length || 0}})</h5>
		<span class="muted" ng-show="!status.selection.length">No selection</span>
		<ul class="list-unstyled" ng-show="status.selection.length">
			<li ng-repeat="element in status.selection">{{element.data.name}}</li>
		</ul>

		<div ng-show="status.selection.length">
			<h5>Create new group</h5>
			<input type="text" ng-model="newGroupName"></input>
			<button ng-click="grouping()">Stop</button>
		</div>

		

	</div>
	
	<div class="col-lg-10">

		<div graph></div>

	</div>

</div>

